.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

b {
  color: orange;
}

.esri-attribution {
  display: none;
  /* or */
  /* position: absolute;
  left: -9999px; */
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

/*https://developers.arcgis.com/calcite-design-system/foundations/colors/ */
calcite-list-item {
  white-space: pre-line;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  /* --calcite-color-border-3: #555555; */
}

calcite-avatar {
  margin-inline-end: 0.3rem;
  margin-top: 0.15rem;
}

calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
  border-style: solid;
  border-width: 0.7;
  border-top: rgb(0, 0, 0, 0);
  width: 50vh;
}

#layers-container {
  overflow-y: auto;
}

#result-list {
  overflow-y: auto;
  --calcite-color-text-1: #ff0000;
  --calcite-color-text-3: #eaeaea;
  --calcite-color-foreground-2: #202020;
}

#exproListChip {
  --calcite-color-text-1: #ffffff;
  /*--calcite-color-foreground-2: #555555;*/
  --calcite-color-foreground-2: rgb(0, 0, 0, 0);
  margin-inline-end: 0.75rem;
}

.esri-legend__layer-caption {
  display: none;
}

.calcite-tutorial {
  --calcite-color-brand: #039851;
  --calcite-color-brand-hover: #008d52;
}

.calcite-tutorial calcite-chip {
  --calcite-color-foreground-2: var(--calcite-color-brand);
  --calcite-color-text-1: white;
  margin-inline-end: 0.75rem;
}

/* Lot Tab */

.totalLotsLabel {
  color: white;
  font-size: 1.1vw;
  padding-bottom: 0.5vh;
  padding-top: 0.6vh;
}

.totalLotsNumber,
.handedOverNumber,
.DemolishedNumber,
.isfTotalNumber {
  color: #d1d5db;
  font-size: 2rem;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 4%;
}

.totalLotsNumber2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.handedOverLabel {
  color: white;
  font-size: 1rem;
  padding-bottom: 0.6vh;
}

/* Structure Tab */
.structureNumberImage {
  display: flex;
  padding-left: 20px;
}

.totalStructuresLabel {
  color: white;
  font-size: 1.1vw;
  padding-bottom: 0.5vh;
  padding-top: 0.6vh;
}

.moaStructureTitle {
  color: white;
  font-size: 1.1vw;
  padding-bottom: 0.5vh;
  margin-top: 4vh;
  padding-left: 20px;
}

/* ISF Tab */
.isfNumberImage {
  display: flex;
  padding-left: 20px;
}

.totalIsfLabel {
  color: white;
  font-size: 1.1vw;
  padding-bottom: 0.5vh;
  padding-top: 0.6vh;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
  width: 200px;
  height: 20px;
  margin-top: auto;
  margin-left: auto;
  margin-right: -60px;
}

.dropdownFilter {
  height: 50px;
  width: 70%;
  border-color: rgb(0, 0, 0, 0);
  padding-top: 10px;
  margin-left: -10rem;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: black;
  justify-content: right;
}

/* Calcite Action panel */
.informationDiv {
  color: #eaeaea;
  font-size: 13px;
  margin-left: -10px;
  padding-right: 5px;
}
